<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="layout/css/main_style.css"/>
        <link rel="stylesheet" type="text/css" href="layout/css/nav.css" />
        <title>JSP Page</title>
    </head>
    <body>
    <center>
        <div id="main">
            <div id="header">
            </div>
            